{
    "env": {
        "browser": true,
        "es6": true,
        "mocha": true,
        "node": true
    },
    "globals": {
        "dashjs": true,
        "WebKitMediaSource": true,
        "MediaSource": true,
        "WebKitMediaKeys": true,
        "MSMediaKeys": true,
        "MediaKeys": true
    },
    "parser": "babel-eslint",
    "rules": {
        "no-caller": 2,
        "no-undef": 2,
        "no-unused-vars": 2,
        "no-use-before-define": 0,
        "strict": 0,
        "no-loop-func": 0,
        "no-multi-spaces": "error",
        "quotes": [
            "error",
            "single",
            {
                "allowTemplateLiterals": true
            }
        ],
        "indent": [
            "error",
            4,
            {
                "SwitchCase": 1
            }
        ]
    }
}



// "env" 属性定义了代码运行的环境，包括浏览器、ES6、Node.js 等。
// "globals" 属性定义了全局变量，指定了一些在代码中使用的全局变量，以免出现未定义的警告。
// "parser" 属性指定了解析器，这里使用了 Babel 解析器，以便支持 ES6 的语法。
// "rules" 属性定义了 ESLint 的规则，包括禁止使用某些特性、强制使用某些约定等。
     // 每个规则都有一个数字值，表示检测到问题时的严重程度，0 表示禁用规则，1 表示警告，2 表示错误。

// 在这个 .eslintrc 文件中，定义了一些常见的规则，
     // 如禁止使用 eval、禁止使用未声明的变量、禁止未使用的变量、强制使用单引号、强制使用一致的缩进等。